<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:black ;border: 1px solid grey;">
    <a class="navbar-brand" href="javascript:void(0)">
      <img src="../assets/logo2.jfif" width="40" height="40" style="border-radius:40px ;margin-left: 20px;"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><h5 style="color:white;padding-right: 10px;padding-left: 40px;">Menu</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><h5 style="color:white;padding-right: 10px;">About</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><h5 style="color:white;padding-right: 10px;">Order</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><h5 style="color:white;padding-right: 10px;">Contact</h5></a>
        </li>
      </ul>
      <form class="d-flex">
       
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal" style="border: 1.5px solid white;margin-left: -30px;margin-right: 10px;width: 40px;">
          <i class="fa fa-plus"></i>
        </button>&nbsp;&nbsp;&nbsp;
          <i class="fa fa-cart-plus" style="color:white;margin-top: 15px;margin-right: 10px;"></i>
       
        <i class="fa fa-search" aria-hidden="true" style="color:white;margin-top:15px;margin-left:20px;margin-right: 50px;"></i>
      <i></i>
      </form>
  </div>
</nav>
<div class="container-fluid" style="background-image:url('../assets/abhil.jpeg');height: 730px;">
 <div class="row">
 
 <h1 class="text-center" style="color:black;margin-top: 18px;font-family: cursive;font-weight: 900;font-size: 50px;">
  Food Ordering System</h1>
 
 <div class="col-lg-6">
  <div class="card" style="width:700px;margin-left: 35px;height: 570px;margin-top: 20px;overflow-y:scroll">
    <div class="card-body" style="background-color:gainsboro;background-image:url('../assets/logo.jpg');">
      <h1 style="margin-left:10px;color:black;margin-top: 40px;font-weight: 900;text-align: center;"> <i class="fa fa-cutlery" aria-hidden="true" style="color:gray;"></i>  Our Menu  <i class="fa fa-cutlery" aria-hidden="true" style="color:gray;"></i></h1>
      <nav class="sidebar">
          <ul class="nav flex-column">
              <li class="nav-item" style="margin-left: 20px;margin-top: 10px;">
                  <a class="nav-link" (click)="selectItem(i)" *ngFor="let menu of menuList,let i = index" style="color: orange">
                    <h3 style="color:black;font-weight: 600;"><pre>  <img src="{{menu.url}}" width="90" height="60" style="border:2px solid gainsboro ;margin-left: 20px;">     {{menu.name}} <button class="btn btn-success" style="float: right;margin-top: 8px;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button> <p style="float: right;margin-left: 0px;margin-top: 15px;">Rs.{{menu.price}}/-&nbsp;&nbsp;</p></pre></h3>
                    </a>
              </li>
          </ul>
        </nav>
    </div>
  </div>
 </div>
 <div class="col-lg-3">
  <div class="card" style="width:360px;margin-left: 15px;height: 570px;margin-top: 20px;overflow-y:scroll">
    <div class="card-body" style="background-color:gainsboro;background-image:url('../assets/logo.jpg');">
      <h1 style="margin-left:50px;color:black;margin-top: 50px;font-weight: 800;">Menu Cart</h1>
      <div class="list-group list-group-numbered" style="margin-left: 12px">
        <a class="list-group-item list-group-item-action list-group-item-primary" *ngFor="let menu of cartList;let i = index" style="background-color:lightslategray;font-size: 24px;color: beige;border: 2px solid black;"><pre>{{menu.name}}   -  {{menu.price}}</pre>
          <button class="btn btn-danger" style="float: right;margin-left: 10px;margin-top: -45px;" (click)="delete(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </a>
      </div> 
      <br> 
      <div class="row">
        <div class="col-lg-6" style="color:white">
          <button class="btn btn-secondary" (click)="placeOrder()" style="border:2px solid grey ;width: 140px;margin-left: 10px;height: 45px;font-size: 18px;">Total : {{totalCount}}</button>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-success text-center" (click)="placeOrder()" style="border:2px solid grey ;margin-left: -10px;margin-top: 0px;height: 45px;"><h6 style="margin-top: 5px;font-size: 20px;">Place Order</h6></button>
        </div>
      </div>
</div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card" style="width:320px;margin-left: 28px;height: 570px;margin-top: 20px;overflow-y:scroll">
      <div class="card-body" style="background-image:url('../assets/logo.jpg');">
        <h2 style="text-align:center;color:black;margin-top: 50px;font-weight: 800;font-size: 35px;">Billing Corner</h2>
       
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-danger text-center" *ngFor="let menu of kitchenList" style="background-color:lightslategray;color:white;font-size: 23px;border: 2px solid black;">{{menu.name}}</a>
            <br>
            <a class="list-group-item list-group-item-action list-group-item-success text-center" style="background-color:rgb(74, 122, 74);color:white;font-size: 24px;margin-top: 0px;">Total Amount=Rs.{{totalAmount}}</a>
         <br>
         <br>
        <br>
        <br>
        </div>
       <br>
        </div>
        </div>
        </div>
        </div>
        </div>
       <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
          <div class="modal" id="myModal">
            <div class="modal-dialog" style="width: 380px;">
              <div class="modal-content" style="background-color:gainsboro;">
          
                <!-- Modal Header -->
                <div class="modal-header" style="border:1.2 px solid black ;">
                  <h4 class="modal-title">Add to Menu</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  <form action="/action_page.php">
                    <div class="mb-3 mt-3">
                      <label for="text"><b>Dish Name:</b></label>
                      <input type="text" class="form-control" id="text" placeholder="Enter dish name" name="dish" [(ngModel)]="name">
                    </div>
                    <div class="mb-3">
                      <label for="text"><b>Dish Price:</b></label>
      
                      <input type="number" class="form-control" id="text" placeholder="Enter dish price" name="price" [(ngModel)]="price">
                   </div>
                   
                    
                    </form>
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer" style="border:0px ;margin-top: -15px;">
                  <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="submit()" style="margin-right: 0px;border: 1.5px solid white;">Submit</button>
                  <button type="button" class="btn btn-danger" (click)="cancel()" style="margin-right: 110px;border:2px solid white;">Clear</button>
                </div>
          </div>
          </div>
          </div>

        </div>
        <div class="col-lg-4">
          
        </div>
       </div>

        <!-- Footer -->
<footer class="text-center text-lg-start bg-dark  text-white" style="border:0.2px solid gainsboro">
  <!-- Section: Social media -->
  
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <img src="../assets/logo2.jfif" width="40" height="40" style="border-radius:40px ;margin-left: 20px;"/>
             Food Cafe
          </h6>
          <p>
            Here we provide you best service. It is the india's best food service provider.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fa fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fa fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fa fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);border:0.2px solid gainsboro;">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">foodorder.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
     
           
            
  
    
       
        
          
        
  
  